[submodule "ra_ui_backend"]
	path = ra_ui_backend
	url = https://github.com/Building-acoustics-TU-Eindhoven/ra_ui_backend.git
[submodule "ra_ui_frontend"]
	path = ra_ui_frontend
	url = https://github.com/Building-acoustics-TU-Eindhoven/ra_ui_frontend.git
